
<head>
    <meta charset="UTF-8">
        <html lang="en">
        <head>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <link href="http://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">

            <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"></script>
            <script type="text/javascript" src="static/resources/dest/countdown.js"></script>
            <script type="text/javascript" src="static/resources/dest/jquery.countdown.js"></script>

            <style>
                html,body{width:100%;height:100%;margin: 0 auto;}
                body { background-color:#f1f1f1;}
                h1,h2 {font-family:'Open Sans';}
                .countdown{width:200px; height:40px;display: inline-block;}
            </style>
        </head>
<body>
<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <ul>
        </ul>
        <div class="jquery-script-ads"><script type="text/javascript">
        google_ad_client = "ca-pub-2783044520727903";
        </script>
            <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
            </script></div>
        <div class="jquery-script-clear"></div>
    </div>
</div>
<div style=" margin:150px auto; max-width:768px;">
    <div class="countdown basic" countdown="7200"></div>
</div>
</body>
<script type="text/javascript">
    $(function(){
        $('.countdown.basic').countdown();
    });
</script><script type="text/javascript">

    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-36251023-1']);
    _gaq.push(['_setDomainName', 'jqueryscript.net']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

</script>
<body>