<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><!DOCTYPE html>
        <html lang="en" xmlns="http://java.sun.com/jsf/facelets">

        <head>
            <title>Coming Soon 6</title>
            <meta charset="UTF-8">
            <meta name="viewport"
                  content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
            <meta http-equiv="X-UA-Compatible" content="ie=edge">
            <title>Qyef.com</title>
            <script type="text/javascript" src="static/resources/bower_components/jquery/js/jquery.min.js"></script>
            <script type="text/javascript" src="static/resources/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
            <script type="text/javascript" src="static/resources/bower_components/popper.js/js/popper.min.js"></script>
            <script type="text/javascript" src="static/resources/bower_components/bootstrap/js/bootstrap.min.js"></script>

            <link rel="icon" href="static/resources/assets/images/favicon.ico" type="image/x-icon">
            <link href="https://fonts.googleapis.com/css?family=Roboto:400,500" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="static/resources/bower_components/bootstrap/css/bootstrap.min.css">
            <link rel="stylesheet" href="static/resources/assets/pages/waves/css/waves.min.css" type="text/css" media="all">
            <link rel="stylesheet" type="text/css" href="static/resources/assets/icon/themify-icons/themify-icons.css">
            <link rel="stylesheet" type="text/css" href="static/resources/assets/icon/icofont/css/icofont.css">
            <link rel="stylesheet" type="text/css" href="static/resources/assets/icon/font-awesome/css/font-awesome.min.css">
            <link rel="stylesheet" type="text/css" href="static/resources/assets/css/style.css">


            <meta charset="UTF-8">
            <meta name="viewport" content="width=device-width, initial-scale=1">

            <link rel="icon" type="image/png" href="static/resources/qyef/images/icons/favicon.ico"/>

            <link rel="stylesheet" type="text/css" href="static/resources/qyef/vendor/bootstrap/css/bootstrap.min.css">

            <link rel="stylesheet" type="text/css" href="static/resources/qyef/fonts/font-awesome-4.7.0/css/font-awesome.min.css">

            <link rel="stylesheet" type="text/css" href="static/resources/qyef/vendor/animate/animate.css">

            <link rel="stylesheet" type="text/css" href="static/resources/qyef/vendor/select2/select2.min.css">

            <link rel="stylesheet" type="text/css" href="static/resources/qyef/vendor/countdowntime/flipclock.css">

            <link rel="stylesheet" type="text/css" href="static/resources/qyef/css/util.css">
            <link rel="stylesheet" type="text/css" href="static/resources/qyef/css/main.css">

            <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
            <link rel="stylesheet" type="text/css" href="https://www.fontstatic.com/f=cocon-next-arabic" />
        </head>
<body>


</head>

<section class="row">
    <div class="bg-img1 size1 overlay1 p-t-24" style="background-image: url('static/resources/qyef/images/bg01.jpg');">
        <div class="flex-w flex-sb-m p-l-80 p-r-74 p-b-175 respon5">
            <div class="wrappic1 m-r-30 m-t-10 m-b-10">
                <a href="#"><img src="static/resources/qyef/images/icons/logo.png" alt="LOGO"></a>
            </div>

            <div class="flex-w m-t-10 m-b-10">
                <a href="#" class="size3 flex-c-m how-social trans-04 m-r-6">
                    <i class="fa fa-facebook"></i>
                </a>

                <a href="#" class="size3 flex-c-m how-social trans-04 m-r-6">
                    <i class="fa fa-twitter"></i>
                </a>

                <a href="#" class="size3 flex-c-m how-social trans-04 m-r-6">
                    <i class="fa fa-youtube-play"></i>
                </a>
            </div>
        </div>

        <div class="flex-w flex-sa p-r-200 respon1">
            <div class="p-t-34 p-b-60 respon3"  dir="rtl">
                <p class="l1-txt1 p-b-10 respon2">
                    إحزر الكلمة اللي جوا البيضة و إربح
                <h3 class="l1-txt2 p-b-45 respon2 respon4">
                    50،000 شيكل	</h3>

                <div class="cd100" dir="ltr"></div>

            </div>

            <div class="bg0 wsize1 bor1 p-l-45 p-r-45 p-t-50 p-b-18 p-lr-15-sm">
                <h3 class="l1-txt3 txt-center p-b-43">
                    جاوب و اربح
                </h3>

                <section class="row">

                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="md-float-material form-material">
                                    <div class="text-center">
                                        <img src="static/resources/assets/images/logo.png" alt="logo.png">
                                    </div>
                                    <div class="auth-box card">
                                        <div class="card-block">
                                            <div class="row m-b-20">
                                                <div class="col-md-12">
                                                    <h3 class="text-center">Sign In</h3>
                                                </div>
                                            </div>
                                            <div class="form-group form-primary">
                                                <input type="text" name="email" id="email" class="form-control" required="">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Your Email Address</label>
                                            </div>
                                            <div class="form-group form-primary">
                                                <input type="password" name="password" id="password" class="form-control" required="">
                                                <span class="form-bar"></span>
                                                <label class="float-label">Password</label>
                                            </div>
                                            <div class="row m-t-25 text-left">
                                                <div class="col-12">
                                                    <div class="checkbox-fade fade-in-primary d-">
                                                        <label>
                                                            <input type="checkbox" value="">
                                                            <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                                            <span class="text-inverse">Remember me</span>
                                                        </label>
                                                    </div>
                                                    <div class="forgot-phone text-right f-right">
                                                        <a href="auth-reset-password.html" class="text-right f-w-600"> Forgot Password?</a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row m-t-30">
                                                <div class="col-md-12">
                                                    <button type="button" class="btn btn-primary btn-md btn-block waves-effect waves-light text-center m-b-20">Sign in</button>
                                                </div>
                                            </div>
                                            <hr/>
                                            <div class="row">
                                                <div class="col-md-10">
                                                    <p class="text-inverse text-left m-b-0">Thank you.</p>
                                                    <p class="text-inverse text-left"><a href="index.html"><b><include src="countdown.html"></include></b></a></p>
                                                </div>
                                                <div class="col-md-2">
                                                    <img src="static/resources/assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <p class="s1-txt3 txt-center p-l-15 p-r-15 p-t-25">
                    خاضع لشروط الحملة*
                </p>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="static/resources/bower_components/jquery/js/jquery.min.js"></script>
<script type="text/javascript" src="static/resources/bower_components/jquery-ui/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="static/resources/bower_components/popper.js/js/popper.min.js"></script>
<script type="text/javascript" src="static/resources/bower_components/bootstrap/js/bootstrap.min.js"></script>

<script src="static/resources/assets/pages/waves/js/waves.min.js"></script>

<script type="text/javascript" src="static/resources/bower_components/jquery-slimscroll/js/jquery.slimscroll.js"></script>

<script type="text/javascript" src=static/resources/bower_components/modernizr/js/modernizr.js"></script>
<script type="text/javascript" src="static/resources/bower_components/modernizr/js/css-scrollbars.js"></script>

<script type="text/javascript" src="static/resources/bower_components/i18next/js/i18next.min.js"></script>
<script type="text/javascript" src="static/resources/bower_components/i18next-xhr-backend/js/i18nextXHRBackend.min.js"></script>
<script type="text/javascript" src="static/resources/bower_components/i18next-browser-languagedetector/js/i18nextBrowserLanguageDetector.min.js"></script>
<script type="text/javascript" src="static/resources/bower_components/jquery-i18next/js/jquery-i18next.min.js"></script>
<script type="text/javascript" src="static/resources/assets/js/common-pages.js"></script>

<script type="text/javascript" src="static/resources/dest/jquery.countdown.js"></script>
<script type="text/javascript" src="static/resources/dest/countdown.js"></script>


<script type="text/javascript">

    function register(){

        var fullName =    $("#name").val();

        var email    =    $("#email").val();

        var phone    =    $("#phone").val();

        var object =[{email:new String(email),password:new String(phone) }]



        $.ajax({
            url:"http://192.168.1.6:3099/api/create/qyef/create",
            type:"POST",
            data:JSON.stringify(object),
            contentType:"application/json; charset=utf-8",
            dataType:"json",
            success: function(data, status){
                alert("Data: " + data.success + "\nStatus: " + status);
            }
        })

    }


</script>

</body>

</html>

</title>
</head>
<body>




<script type="text/javascript">

    $( document ).ready(function() {
        $(function(){
            $('.countdown.basic').countdown();
        })


        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-36251023-1']);
        _gaq.push(['_setDomainName', 'jqueryscript.net']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })

    });
</script>

</body>
</html>